<nav>
  <a class="<%= (selected === 'posts') ? 'selected' : '' %>" href="/">All</a>
  <a href="/cities/1">Seattle</a>
  <a href="/cities/2">Miami</a>
  <a href="/cities/3">Barcelona</a>
  <a href="/cities/4">London</a>
  <a href="/cities/5">Budapest</a>
</nav>