<nav>
  <a class="<%= (selected === 'posts') ? 'selected' : '' %>" href="/">All</a>
  <a href="/?alcohol=gin">Gin</a>
  <a href="/?alcohol=vodka">VODKA</a>
  <a href="/?alcohol=rum">RUM</a>
  <a href="/?alcohol=tequila">TEQUILA</a>
</nav>