<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>todos</title>
</head>

<body>
  <h1>Things to do today:</h1>
  <ul>
    <% posts.forEach(post => { %>
    <li><%= post %></li>
    <% }) %>
  </ul>
</body>

</html>