* {
  color: green;
  font-size: 1rem;
}

h1 {
  font-size: 2em;
}

.voteForm {
  display: flex;
  flex-direction: column;
}

span {
  margin-top: 10px;
}

p {
  font-size: 1.2em;
  font-weight: bold;
}

.submit {
  width: 60px;
  color: black;
}