* {
  margin: 0;
  padding: 0;
  font-size: 1rem;
}

body {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

h1 {
  font-size: 1.5em;
  margin: 5px 0 5px 5px;
}

nav {
  margin: 10px 5px;
}

a {
  margin-right: 20px;
}

ul {
  background-color: lightcyan;
  width: 80%;
  height: 250px;
  list-style: none;
  padding: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow-x: scroll;
}

li {
  min-width: 160px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  margin: 15px;
}

img {
  height: 120px;
}

p {
  margin: 10px;
}

.temp {
  font-size: 1.2em;
  margin-top: 20px;
  font-weight: bold;
}

.message {
  font-size: 0.9em;
}

span {
  margin-left: 10px;
}

span:last-child {
  display: flex;
  flex-direction: row;
}