* {
  margin: 0;
  padding: 0;
  font-size: 1rem;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

h1 {
  font-size: 1.5em;
  margin: 5px 0 5px 5px;
}

nav {
  margin: 10px 5px;
}

a {
  margin-right: 20px;
}

.container {
  overflow: hidden;
  width: 350px;
}

ul {
  background-color: lightcyan;
  width: 350px;
  height: 80vh;
  margin: auto;
  list-style: none;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-content: space-between;
}

button {
  width: 320px;
  min-height: 120px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  margin: 15px 15px 15px 5px;
}

span {
  margin-left: 10px;
  text-align: left;
}

.cityName {
  font-weight: bold;
  font-size: 1.2em;
}

.temp {
  font-size: 1.5em;
  margin-top: 20px;
}

.location {
  font-size: 0.8em;
}

img {
  height: 70px;
}

span:last-child {
  display: flex;
  flex-direction: row;
}