<nav>
  <a class="<%= (selected === 'posts') ? 'selected' : '' %>" href="/">All</a>
  <a href="/cities/0">Seattle</a>
  <a href="/cities/1">Miami</a>
  <a href="/cities/2">Barcelona</a>
  <a href="/cities/3">London</a>
  <a href="/cities/4">Budapest</a>
</nav>