  * {
    font-weight: normal;
    text-decoration: none;
    font-size: 1rem;
    margin: 0;
    padding: 0;
  }

  .container1,
  .container2 {
    box-sizing: border-box;
    border: 2px solid blue;
    padding: 6px;
    height: 100px;
    background-color: white;
    width: 700px;
  }

  div {
    display: inline-block;
    background-color: blue;
    height: 50px;
    width: 50px;
    margin: 7px;
    margin-top: 19px;
  }

  .container2 {
    background-color: red;
  }

  .container2 div {
    background-color: purple;
  }